@using DataAccessLayer.Entities
@model BusinessLayer.Models.FormatSettings

@{
    ViewData["Title"] = "Email Service";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<style>
    .blue-outline-button {
        color: #007bff; /* Blue text */
        background-color: white; /* White background */
        border: 1px solid #007bff; /* Blue border */
    }
</style>

<div class="mt-4" style="display: flex; flex-direction: column; align-items: stretch;">
    <form asp-action="SaveSettings" method="post">
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <div style="margin-right: 20px;">
                <label>Select email format:</label>
            </div>
            <div style="margin-right: 10px;">
                <input type="radio" id="json" name="PreferredFormat" value="json" @(Model.PreferredFormat == OutputFormat.JSON ? "checked" : "")>
                <label for="json">JSON</label>
            </div>
            <div>
                <input type="radio" id="html" name="PreferredFormat" value="html" @(Model.PreferredFormat == OutputFormat.HTML ? "checked" : "")>
                <label for="html">HTML</label>
            </div>
            <div style="margin-left: 10px;">
                <input type="radio" id="text" name="PreferredFormat" value="text" @(Model.PreferredFormat == OutputFormat.Text ? "checked" : "")>
                <label for="text">Text</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
    <form asp-action="SendEmails" method="post" class="mt-4">
        <button type="submit" class="btn blue-outline-button">
            Send Emails Now
        </button>
    </form>
    <form asp-action="Reschedule" method="post" class="mt-4">
        <button type="submit" class="btn blue-outline-button">
            Reschedule
        </button>
    </form>

</div>
